.posts_container {
  margin-left: 19%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 2% 6.5%;
  @media (max-width: 1024px) {
    margin-left: 7%;
  }
  @media (max-width: 768px) {
    margin-left: 0%;
  }
  @media (max-width: 450px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8%;
  }
  @media (max-width: 375px) {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .post_images {
    display: flex;
    justify-content: center;
    width: 300px;
    cursor: pointer;
    @media (max-width: 450px) {
      width: 150px;
    }
    @media (max-width: 320px) {
      width: 270px;
    }
    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      @media (max-width: 768px) {
        width: 200px;
        height: 200px;
      }
      @media (max-width: 450px) {
        width: 150px;
        height: 150px;
      }
      @media (max-width: 320px) {
        width: 250px;
        height: 250px;
      }
    }
  }
}
