.stories_more{
  margin-left: 40%;
  margin-top: 2rem;
  border: 2.5px solid rgb(219, 219, 219);
  border-radius: 8px;
  padding: 10px;
  @media (max-width: 1024px) {
    margin-left: 30%;
  }
  @media (max-width: 768px) {
    margin-left: 25%;
  }
  @media (max-width: 450px) {
    margin-left: 0;
  }
  .header_story{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    div{
      display: flex;
      align-items: center;
      gap: 10px;
      img{
        width: 40px;
        height: 40px;
      }
      span{
        
      }
    }
    svg{
      font-size: 25px;
      cursor: pointer;
    }
  }
  .main_story{
    img, video{
      width: 500px;
      height: 550px;
      object-fit: cover;
    }
  }
}