.notif_container{
  display: flex;
  flex-direction: column;
  height: 200px;
  background-color: #fff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 1px 0 5px 0 rgb(154, 150, 150);
  width: 380px;
  height: 100%;
  gap: 25px;
}