.postCardsForExplore {
  margin-left: 40%;
  margin-top: 2rem;
  @media (max-width: 1024px) {
    margin-left: 30%;
  }
  @media (max-width: 768px) {
    margin-left: 25%;
  }
  @media (max-width: 450px) {
    margin-left: 0;
  }
  .post_card {
    background-color: #fff;
    width: 470px;
    border: 2.5px solid rgb(219, 219, 219);
    border-radius: 8px;
    @media (max-width: 478px) {
      width: 440px;
      margin-left: 10px;
    }
    @media (max-width: 450px) {
      margin-left: 33px;
    }
    @media (max-width: 390px) {
      width: 360px;
      margin-left: 1px;
    }
    @media (max-width: 330px) {
      width: 310px;
      margin-left: 5px;
    }
    .post_card-header {
      display: flex;
      gap: 13px;
      padding: 10px 15px;
      align-items: center;
      justify-content: space-between;
      div{
        display: flex;
        align-items: center;
      }
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }
      h3 {
        margin: 3px;
        font-size: 14px;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
          sans-serif;
        cursor: pointer;
      }
      .del_icon, .edit_icon{
        font-size: 23px;
        color: #514f4f;
      }
      div{
        gap: 10px;
      }
    }
    .post_card-body {
      img {
        width: 470px;
        height: 470px;
        object-fit: cover;
        @media (max-width: 478px) {
          width: 440px;
        }
        @media (max-width: 390px) {
          width: 360px;
        }
        @media (max-width: 330px) {
          width: 310px;
        }
      }
    }
    .post_card-footer {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .likes_block {
        display: flex;
        justify-content: space-between;
        .likes {
          display: flex;
          gap: 15px;
          svg {
            color: rgb(38, 38, 38);
            font-size: 27px;
            cursor: pointer;
            transition: 0.1s;
            &:hover {
              color: gray;
            }
          }
        }
      }
      .about_block {
        display: flex;
        flex-direction: column;
        gap: 7px;
        .count_of_likes {
          span {
            color: rgb(38, 38, 38);
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
              sans-serif;
          }
        }
        div {
          p {
            margin: 0;
            color: rgb(38, 38, 38);
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
              sans-serif;
            display: flex;
            gap: 10px;
            span {
              cursor: pointer;
            }
            input{
              outline: 0;
              border: 0;
              border-bottom: 1px solid black;
            }
            .more {
              color: #8e8e8e;
            }
          }
        }
      }
      .comment_block {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgb(197, 195, 195);
        padding-top: 10px;
        input {
          border: 0;
          outline: 0;
          background: none;
          color: rgb(38, 38, 38);
        }
        button {
          background: none;
          border: 0;
          outline: 0;
          color: #0095f6;
          cursor: pointer;
          &:disabled {
            cursor: default;
          }
        }
      }
    }
  }
}
